@import "./partials/variables" ;
@import "./partials/reset";
@import "./partials/header" ;
@import "./partials/map" ;
@import "./partials/contact" ;
@import "./partials/galeria" ;
@import "./partials/footer " ;
@import "./partials/domos" ;
