* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Metal Mania', cursive;
    font-family: 'Michroma', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Nunito', sans-serif 
    
    
}

body{
    background-color: $mainColor;
    position: relative;
    padding-bottom: 20em;
    min-height: 100vh;
}